body{
font-size: 20px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
text-align:center;
}
input{
width:80%;
border-radius: 5px;
height:25px;
margin:5px;
font-size: 20px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
padding-left:5px;
}
#videocart{
font-size: 25px;
border-radius: 15px;

}
.encrypt{

}
#res{
  display: none;
}

#load{
  display: none;
}

#result {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#result td, #result th {
    border: 1px solid #ddd;
   
}

#result tr:nth-child(even){background-color: #f2f2f2;}

#result tr:hover {background-color: #ddd;}

#result th {
    text-align: left;
    background-color: #4CAF50;
    color: #4CAF50;
}
.enc {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 150px;
	
	float:left;
}

.enc td, .enc th {
    border: 1px solid #ddd;
    padding: 8px;
}

.enc tr:nth-child(even){background-color: #f2f2f2;}

.enc tr:hover {background-color: #ddd;}

.enc th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#btn {
  background: #45c213;
  background-image: -webkit-linear-gradient(top, #45c213, #1f8f0e);
  background-image: -moz-linear-gradient(top, #45c213, #1f8f0e);
  background-image: -ms-linear-gradient(top, #45c213, #1f8f0e);
  background-image: -o-linear-gradient(top, #45c213, #1f8f0e);
  background-image: linear-gradient(to bottom, #45c213, #1f8f0e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor:pointer;
  clear:both;
}

#btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor:pointer;
}
#100{
text-align:center;
}

.header{
cursor:pointer;
}


table.tablesorter {
	font-size: 16px;
	
	width: 1024px;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
table.tablesorter td {
	padding: 5px;
}
table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}
table.tablesorter .header {
	background-image: url(../picture/bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(../picture/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(../picture/desc.png);
	background-repeat: no-repeat;
}

#load{
width:100%;
text-align:center;
}